<div class="ap-container">
  <ng-container *ngIf="!generateArmies else armysGeneratedBlock">
      <h1 id="ap-battle-title">Please schoose the number of armies, strategy squads and number of units for squads  </h1>

      <form (ngSubmit)="onSubmit()" [formGroup]="battleForm">
        <div class="form-group">
          <label for="squads">Select the number of squads </label>
          <select name="squads" id="squads" formControlName="squads_number">
              <option *ngFor="let n of [].constructor(numberOfSquads); let i = index;">{{i+1}}</option>
        </select>
        </div>
        <div class="form-group">
          <label for="units">Select the number of units for each squad</label>
          <select name="units" id="units" formControlName="units">
              <option *ngFor="let n of numberOfUnits;">
                    {{n}}
              </option>
        </select>
        </div>
        <div class="form-group">
          <button  type="submit">
             Submit
          </button>
        </div>
      </form>
</ng-container>

<ng-template #armysGeneratedBlock>
  <!-- Display armies when user add an army -->
<div class="ap-grid-container">
    <ng-container *ngFor="let squad of squads; let i = index">
        <div class="ap-grid-item">
          <h3>{{squad.name}}</h3>
          <form  [formGroup]="strategyForm">
              <div class="form-group">
                <label for="strategy">Strategy:</label>
                <ng-container *ngFor="let strategy of strategies">
                    <input  type="checkbox" [value]="strategy" (change)="onCheckChange($event, squad)">
                    {{strategy}}
                </ng-container>
              </div>
            </form>
        </div>
          </ng-container>
</div>
*If strategy is not selected - random strategy will be used <br>
<button [disabled]="startCalculating" (click)="startCalculating = true">Start the battle</button>
<app-battle-calculator *ngIf="startCalculating" [squads]="squads"></app-battle-calculator>
</ng-template>
</div>
