<div class="ap-container">
  <ng-container *ngIf="!generateArmies else armysGeneratedBlock">
      <h1 id="ap-battle-title">Please schoose the number of armies, strategy squads and number of units for squads  </h1>

      <form (ngSubmit)="onSubmit()" [formGroup]="battleForm">
        <div class="form-group">
          <label for="username">Select the number of armies</label>
          <select name="username" id="username" formControlName="armys">
              <option selected>2</option>
              <option >3</option>
              <option >4</option>

          </select>

          <!-- <input  autocomplete="off" class="form-control" formControlName="username" id="username"
                 type="text"/> -->

        </div>
        <div class="form-group">
          <label for="squads">Select the number of squads for each army</label>
          <select name="squads" id="squads" formControlName="squads">
            <option selected>2</option>
            <option >3</option>
            <option >4</option>
        </select>
        </div>

        <div class="form-group">
          <label for="units">Select the number of units for armies</label>
          <select name="units" id="units" formControlName="units">
            <option selected>5</option>
            <option >6</option>
            <option >7</option>
            <option >8</option>
            <option >9</option>
            <option >10</option>

        </select>

        </div>
        <div class="form-group">
          <button  type="submit">

             Submit
          </button>

        </div>
      </form>
</ng-container>




<ng-template #armysGeneratedBlock>

  Armies have been generated!!
  <!-- Display armies when user add an army -->
<div class="ap-grid-container">
    <ng-container *ngFor="let army of armies; let i = index">

        <div class="ap-grid-item">{{army.name}}</div>
          </ng-container>

</div>

</ng-template>
</div>
